@model IEnumerable<MaisBahia.Models.Foto>

    @{
        ViewBag.Title = "Index";
    }

    <h2>Index</h2>

    <p>
        @Html.ActionLink("Nova Foto", "Criar", null, new { @class = "btn btn-primary" })
    </p>

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src=@Url.Action("ObterImagem","Fotos",new {id=item.Id}) alt="...">
                    <div class="caption">
                        <h3>Thumbnail label</h3>
                        <p>@item.Titulo</p>
                        <p>
                            @Html.ActionLink("Editar","Editar", new { id = item.Id }, new { @class= "btn btn-default" })
                            @Html.ActionLink("Excluir", "Excluir", new { id = item.Id }, new { @class = "btn btn-default" })
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
