@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Mais Bahia</h1>
    <p class="lead">Conheça agora o maior site de anuncios da Bahia, pois aqui temos tudo que você procura. </p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Conheça Mais &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Restaurantes e Buffet</h2>
        <p>
            Conheça os melhores restaurantes da Bahia, comida de melhor qualidade para agradar diversos gostos da riquíssima culinária bahia. Aqui você pode conhecer as melhores empresas e organizar o buffet da sua festa sem sair de casa.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865"> Detalhes &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Prestação de Serviços</h2>
        <p>Encontre profissionais com experiência em prestação de serviços na área de manutenção predial e industrial, terceirização de serviços. 
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Detalhes &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Onde tem Festas?</h2>
        <p>Divulgamos as melhores festas da Bahia para diversos gostos musicais e atrações culturais.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Detalhes &raquo;</a></p>
    </div>
</div>